<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EliteAPI" version="2.1.15.838" targetFramework="net472" />
  <package id="HidSharp" version="2.1.0" targetFramework="net472" />
  <package id="ini-parser" version="2.5.2" targetFramework="net472" />
  <package id="LiteDB" version="5.0.0-alpha2" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3-beta2" targetFramework="net472" />
  <package id="Ninject" version="4.0.0-beta-0134" targetFramework="net472" />
  <package id="RGB.NET.Brushes" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Core" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Decorators" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Devices.Asus" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Devices.Asus_Legacy" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Devices.CoolerMaster" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Devices.Corsair" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Devices.Debug" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Devices.DMX" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Devices.Logitech" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Devices.Novation" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Devices.Razer" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Devices.SteelSeries" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Devices.WS281X" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Groups" version="0.1.26" targetFramework="net472" />
  <package id="RGB.NET.Resources.Asus" version="0.3.0" targetFramework="net472" />
  <package id="RGB.NET.Resources.Asus_Legacy" version="0.1.0" targetFramework="net472" />
  <package id="RGB.NET.Resources.CoolerMaster" version="0.2.0" targetFramework="net472" />
  <package id="RGB.NET.Resources.Corsair" version="0.3.0.234" targetFramework="net472" />
  <package id="Roccat-Talk" version="1.0.0.0" targetFramework="net472" />
  <package id="Sanford.Multimedia.Midi.Standard" version="6.6.0" targetFramework="net472" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net472" />
  <package id="Somfic" version="1.0.3" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.6.0" targetFramework="net472" />
  <package id="System.Management" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>